#007F6E
#2F4858


.gameInfo_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
 .gameInfo, .formInfo{
    width: 95%;
    height: auto;
    background-color: rgb(244, 250, 242);
    border-radius: 30px;
    padding-bottom: 8px;
  }
  .formInfo{
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .gameInfo_wrapper{
    margin-top: 0;
    background-color: rgb(69, 156, 52);
    height: 5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .gameInfo_name{
    padding-top: 20px;
    margin: 0;
    font-size: 1.9rem;
    text-align: center;
  }
  .curvedbit{
    width: 30px;
    height: 30px;
    background-color: rgb(69, 156, 52);
    float: right;
  }
  .curvedbit2{
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(244, 250, 242);
    float: right;
    margin-right: -30px;
  }
  .gameInfo_input{
    color: #007F6E;
    font-weight: bold;
    margin-top: 10px;
    width: 95%;
    font-size: 1.5rem; 
    height: 40px;
    border-radius: 10px;
    border: 4px solid #007F6E;
  }
  .gameInfo_input:hover{
    transform: scale(1.1);
    transition: 1s;
    transition-timing-function: ease-in-out;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
    z-index: 2;
  }
  .gameInfo_button{
    margin-top: 30px;
    width: 50%;
    background-color: #007F6E;
    border: none;
    height: 40px;
    font-size: 1.7rem;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
  }