/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.landing_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_main_div{
  padding-top: 30px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.landing_discrp{
  font-size: 4rem;
}
.caddy_card{
  font-size: 4rem;
  padding-top: 3rem;
  margin-top: 0;
}
.complete_div{
  width: 100%;
}
.logo_img{
  width: 200px;
}
.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.scorecard_div, .gameInfo_div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.scorecard{
  width: 95%;
  height: auto;
  background-color: rgb(244, 250, 242);
  border-radius: 30px;
  padding-bottom: 8px;
}

.course_name_wrapper{
  margin-top: 0;
  background-color: rgb(69, 156, 52);
  height: 5rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.course_name{
  padding-top: 20px;
  margin: 0;
  font-size: 1.9rem;
  text-align: center;
}
.curvedbit{
  width: 30px;
  height: 30px;
  background-color: rgb(69, 156, 52);
  float: right;
}
.curvedbit2{
  width: 30px;
  height: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(244, 250, 242);
  float: right;
  margin-right: -30px;
}
.innercard_wrapper{
  display: flex;
  justify-content: center;
}
.innercard{
  margin-top: -22px;
  padding-top: 20px;
  background-color: rgb(69, 156, 52);
  width: 95%;
  height: auto;
  border-radius: 30px;
  padding-bottom: 6px;
}
.hole_name{
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  width: 97%;
  height: auto;
  background-color: rgb(244, 250, 242);
  border-radius: 25px;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
} */
.players_title{
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}
.holenum{
  margin-left: 25px;
  font-size: 1.9rem;
  height: 50px;
}
.gameInfo{
  width: 95%;
  height: auto;
  background-color: rgb(244, 250, 242);
  border-radius: 30px;
  padding-bottom: 30px;
}
.gameInfo_input{
  margin-top: 10px;
  width: 70%;
  height: 40px;
  font-size: 1.5rem; 
  color: #007F6E;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid #007F6E;
}
.gameInfo_input:hover{
  transform: scale(1.3);
  transition: 1s;
  transition-timing-function: ease-in-out;
  -webkit-box-shadow: 5px 5px 10px 2px #000000; 
  box-shadow: 5px 5px 10px 2px #000000;
  z-index: 2;
}
.parYards_div{
  width: 100%;
  height: 30px;
}
.gameInfo_button, .gameInfo_button4{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
  height: auto;
  background-color: #007F6E;
  border: none;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
.gameInfo_button2{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 70%;
  height: 100px;
  background-color: #007F6E;
  border: none;
  font-size: 1.7rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
.div_cal{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.pcal{
  margin-top: 10px;
}
.gameInfo_button3{
  margin-top: 30px;
  width: 40%;
  height: auto;
  background-color: #007F6E;
  border: none;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
.quote_top_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote_div{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 75%;
  background-color: rgb(244, 250, 242);
  border-radius: 20px;
}
.quote_title{
  text-align: center;
  font-size: 1.5rem;
}
.quote_quote{
  text-align: center;
  font-size: 2.5rem;
}
.quote_author{
  text-align: center;
  font-size: 1rem;
}
.hole_input{
  color: #007F6E;
  border: 4px solid #007F6E;
  width: 20%;
  height: 90%;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hole_input[type=number]::-webkit-inner-spin-button, 
.hole_input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.hole_input[type="number"] {
    text-align: center;
} 
.hole_input:hover{
    transform: scale(1.1);
    border: 7px solid #007F6E;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.col {
  flex-basis: auto; 
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.handiPlayer{
  font-size: 2.4rem;
  margin-top: 20px;
}
.lookUp{
  border-bottom: 5px solid #007F6E;
  cursor: pointer
}
.footerxlix{
  font-size: 2rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }  
}
/* @media screen and (max-width: 768px){
  .complete_div{
    width: 100%;
  }
}
@media screen and (max-width: 1200px){
  .complete_div{
    width: 100%;
  }
} */
