.top_div{
    display: flex;
    justify-content: center;
}
.parYards_div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    height: auto;
    background-color: rgb(244, 250, 242);
    border-radius: 30px;
    border: 10px solid rgb(69, 156, 52);
}
.hole_options{
    font-size: 1.7rem;
}
.row, .row_total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .row_total{
    margin-top: 20px;
  }
  .col {
    flex-basis: calc(100% / 5);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
  }
  .hole_input, .total_score{
    color: #007F6E;
    width: 90%;
    height: 90%;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 20%;
    border: 4px solid #007F6E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hole_input[type=number]::-webkit-inner-spin-button, 
.hole_input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.hole_input[type="number"] {
    text-align: center;
} 
.hole_input:hover{
    transform: scale(1.5);
    border: 7px solid #007F6E;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}