
.course_name_wrapper{
    margin-top: 0;
    background-color: rgb(69, 156, 52);
    height: 7rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.course_name{
    padding-top: 20px;
    margin: 0;
    font-size: 1.9rem;
    text-align: center;
}
.front_back{
    margin-top: 10px;
    padding-bottom: 10px;
}
.curvedbit{
    width: 30px;
    height: 30px;
    background-color: rgb(69, 156, 52);
    float: right;
}
.curvedbit2{
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(244, 250, 242);
    float: right;
    margin-right: -30px;
}
.innercard_wrapper{
    display: flex;
    justify-content: center;
}
.innercard{
    margin-top: -22px;
    padding-top: 20px;
    background-color: rgb(69, 156, 52);
    width: 95%;
    height: auto;
    border-radius: 30px;
    padding-bottom: 20px;
}
.par{
    writing-mode: vertical-lr; 
    font-size: 1.3rem;
    text-align: center;
}
.hole_name{
    color: #007F6E;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    margin-bottom: 20px;
    width: 97%;
    height: 50px;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .col {
    flex-basis: calc(100% / 5);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
  }
  .col2 {
    flex-basis: calc(100% / 2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }
  .spanpar{
      width: 50%;
  }  
.playesN{
    font-size: 1rem;
}
/* .holenum{
    margin-left: 25px;
    font-size: 1.9rem;
    height: 50px;
} */
.hole_number, .hole_number_total, .hole_number9, .hole_number1{
    color: #007F6E;
    font-weight: bold;
    background-color: white;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.hole_number1{
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.hole_number9{
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}
.hole_number_total{
    border-radius: 20%;
    font-size: 1.2rem;
}
.hole_input, .total_score{
    color: #007F6E;
    width: 90%;
    height: 90%;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 20%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total_score{
    color: #007F6E;
    background-color: white;
}
.hole_input[type=number]::-webkit-inner-spin-button, 
.hole_input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.hole_input[type="number"] {
    text-align: center;
} 
.hole_input:hover{
    transform: scale(1.5);
    border: 7px solid #007F6E;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
.total_div{
    margin-top: 20px;
}
