.main {
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course_name_wrapper{
    margin-top: 0;
    background-color: rgb(69, 156, 52);
    height: 7rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}
.course_name{
    padding-top: 20px;
    margin: 0;
    font-size: 1.9rem;
    text-align: center;
}
.front_back{
  margin-top: 10px;
  padding-bottom: 10px;
}
.hole_name{
  color: #007F6E;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 20px;
  width: 97%;
  height: 50px;
  background-color: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.playesN{
  font-size: 1rem;
}
.curvedbit{
    width: 30px;
    height: 30px;
    background-color: rgb(69, 156, 52);
    float: right;
}
.curvedbit2{
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(244, 250, 242);
    float: right;
    margin-right: -30px;
}
.innercard_wrapper{
  display: flex;
  justify-content: center;
}
.innercard{
  margin-top: -22px;
  padding-top: 20px;
  background-color: rgb(69, 156, 52);
  width: 95%;
  height: auto;
  border-radius: 30px;
  padding-bottom: 20px;
}
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  .scorecard_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .scorecard{
    width: 95%;
    height: auto;
    background-color: rgb(244, 250, 242);
    border-radius: 30px;
    padding-bottom: 8px;
  }
  .returnHome_button{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    background-color: #007F6E;
    border: none;
    height: 50px;
    font-size: 1.7rem;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
  }
  .hole_input, .total_score, .hole_number_total{
    color: #007F6E;
    width: 90%;
    height: 90%;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 20%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row, .row_total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.row_total{
  margin-top: 20px;
}
.col {
  flex-basis: calc(100% / 5);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}
.total_score, .hole_number_total{
  color: #007F6E;
  background-color: white;
}
.hole_number_total{
  border-radius: 20%;
  font-size: 1.2rem;
}
.gameInfo_button2{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 70%;
  height: 100px;
  background-color: #007F6E;
  border: none;
  font-size: 1.7rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
}
